<!doctype html>
<html lang="en">
  <head>
    <title>Flask Website Title</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Font-Awesome CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/font-awesome/css/font-awesome.min.css') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <!-- MD Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/mdbootstrap/css/mdb.min.css') }}">
    <!-- Website CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    {% block body %}
    {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/mdbootstrap/js/mdb.min.js') }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>