<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#274e68">
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="{{ url_for('main.index') }}">
      Flask Website Template
    </a>
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<!--/.Navbar-->